@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Quicksand:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

h1 {
  border: 0;
  padding: 0;
}

h2 {
  @apply text-2xl font-bold;
}

h2.caps {
  @apply font-fjalla font-normal uppercase md:text-3xl lg:text-4xl xl:text-4.5xl;
}

.content {
  @apply mx-auto sm:w-11/12 lg:w-10/12 xl:w-8/12;
}

.border-rr {
  @apply border-red-500 border-2 border-dashed;
}

.border-gg {
  @apply border-green-500 border-2 border-dashed;
}

.border-bb {
  @apply border-blue-500 border-2 border-dashed;
}

#menu {
  @apply flex-col md:flex-row md:gap-2 xl:gap-6 md:space-x-6 text-xl md:text-base xl:text-lg 2xl:text-xl tracking-wide uppercase md:justify-center;
}

#menu li {
  @apply border-t p-2 pr-4 md:p-0 border-slate-300 md:border-none;
}

#menu li:first-of-type {
  @apply border-none;
}

#galleryScroll img {
  @apply h-full;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
